[color]
	ui = auto

[alias]
	feat     = "!f(){ git commit -m \"feat: ${@:1}\"; }; f"
    fix      = "!f(){ git commit -m \"fix: ${@:1}\"; }; f"
	docs     = "!f(){ git commit -m \"docs: ${@:1}\"; }; f"
	style    = "!f(){ git commit -m \"style: ${@:1}\"; }; f"
	refactor = "!f(){ git commit -m \"refactor: ${@:1}\"; }; f"
	test     = "!f(){ git commit -m \"test: ${@:1}\"; }; f"
	chore    = "!f(){ git commit -m \"chore: ${@:1}\"; }; f"

[user]
	signingkey = # I'm leaving this here so that I always fix it
	name = Julian Orchard
	email = hello@julianorchard.co.uk

[gui]
[github]
	user = julianorchard

[commit]
	gpgsign = true

[core]
	editor = vim
	excludesfile = "~/.gitignore"

[merge]
	tool = vimdiff

[diff]
	tool = vimdiff
	noprefix = true
	algorithm = patience
	renames = copies
