[user]
  name = Julian Orchard
  email = hello@julianorchard.co.uk

[includeIf "gitdir/i:~/Code/personal-gh/"]
    path = ~/Code/personal-gh/.gitconfig

[includeIf "gitdir/i:~/Code/work-azure/"]
    path = ~/Code/work-azure/.gitconfig

[includeIf "gitdir/i:~/Code/work-bitbucket/"]
    path = ~/Code/work-bitbucket/.gitconfig

[init]
  defaultBranch = main

[commit]
  gpgsign = true

[alias]
  c = commit -s
  build = !git add -A && git c -m 'build: action/pipeline test' && git push && :
  squash-all = "!f(){ git reset $(git commit-tree HEAD^{tree} \"$@\");};f"

[pull]
  rebase = false

[core]
  excludesfile = {path-to-home-dir}/.gitignore

[gpg]
  program = /usr/bin/gpg

[url "ssh://git@github.com/"]
  insteadOf = "https://github.com/"

